html, body {
    height: 100%;
    background-color: rgb(200, 218, 223);
}
p {
    display: none;
}

/*.container {*/
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-100%);*/
    /*text-align: center;*/
/*}*/
